footer {
  z-index: 200;
  position: relative;

  .footer-container {
    background-color: $footer-bg;
    will-change:transform;
    transform-origin:0 100%;
    transform: translateY(100%);
    transition: transform .8s cubic-bezier(.7, 0, .2, 1);

    padding:3rem 1rem;
  }

  .footer-content {
    z-index: 60;
    text-align: center;
    position: relative;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    color: $font-dark;

    .copyright {
      font-size: $size-7;
      padding:1rem 0;
    }
  }

  .bg-warped {
		position:absolute;
		top:-50px; left:0;
		z-index:0;
		width: 100%;
		height:200px;
		background-color: $footer-bg;

    will-change:top;
    transition: top .8s cubic-bezier(.7, 0, .2, 1);
		
		border-top-left-radius: 100% 25%;
		border-top-right-radius: 100% 25%;	

	}

  &.animate {

    .footer-container {
      transform: translateY(0);
    }

		.bg-warped {
      top:10px;
		}
	}

}