// FONTS
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500;700;900&family=Zilla+Slab:wght@400;700&display=swap");

// FRAMEWORKS
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    color: rgba(20, 20, 20, 0.87);
    background-color: #f2f2f2;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --cloud-timing: 6s;
    --bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    @apply bg-white;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .intro-gradient {
    background: linear-gradient(
      180deg,
      transparent 45.01%,
      #f93e51 66%,
      #fd5263 69%,
      #fc485a 80%
    );
  }

  .page-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100vw;
    overflow: hidden;
  }

  .page-title {
    will-change: transform, clip-path;
    transform-origin: bottom left;
    transform: translateY(25%) rotate(5deg);
    clip-path: inset(0 0 100% 0);
    animation: revealTitle 1s var(--bezier) forwards;
    animation-delay: 0.3s;
  }

  .page-title-delayed {
    will-change: transform, clip-path;
    transform-origin: bottom left;
    transform: translateY(25%) rotate(5deg);
    clip-path: inset(0 0 100% 0);
    animation: revealTitle 1s var(--bezier) forwards;
    animation-delay: 0.5s;
  }

  .page-fadein {
    will-change: opacity, transform;
    opacity: 0;
    animation: fadeIn 0.66s var(--bezier) forwards;
    animation-delay: 0.8s;
  }
  .page-fadein-delay {
    will-change: opacity, transform;
    opacity: 0;
    animation: fadeIndelay 0.66s var(--bezier) forwards;
    animation-delay: 1s;
  }
}

@keyframes revealTitle {
  0% {
    transform: translateY(25%) rotate(5deg);
    clip-path: inset(0 0 100% 0);
  }
  100% {
    transform: translateY(0%) rotate(0deg);
    clip-path: inset(0 0 0 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeIndelay {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@import "cursor";
@import "cloud";
