.ticker-text {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 4rem);
  margin: 0 auto;
  align-items: center;
  font-size: 2rem;
  font-family: "Caveat", cursive;
  font-weight: 400;
  color: #000;

  .dynamic {
    font-weight: 700;
    padding-right: 10px;
    @apply text-cream;
    position: relative;
    height: 3rem;
    overflow: hidden;

    ul {
      margin: 0 0.625rem;
      padding: 0;
      animation: scrollUp 8s infinite;
      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 3rem;
        list-style: none;
      }
    }
  }
}

// Variables
$count: 5;

@keyframes scrollUp {
  @for $i from 1 through ($count - 1) {
    #{($i * 25) - 10%},
    #{$i * 25%} {
      transform: translateY((-100% / $count) * $i);
    }
  }
}
